@import "~bootstrap/scss/bootstrap";

.country {
	margin-top: 15px;

	.search {
		margin-top: 8px;
	}

	.list {
		list-style: none;
		margin: 5px 0;
		height: calc(100vh - 160px);
		overflow-y: scroll;

		@media only screen and (max-width: 800px) {
			height: 100px;
		}

		.list-item {
			cursor: pointer;
		}
	}
}