@import "~bootstrap/scss/bootstrap";

.country {
	.search {
		margin-top: 8px;
	}

	.list {
		list-style: none;
		margin: 5px 0;
		height: calc(100vh - 160px);
		overflow-y: scroll;

		.list-item {
			cursor: pointer;
		}
	}
}

.global {

}