@import "~bootstrap/scss/bootstrap";

#mapbox {
	height: calc(100vh - 56px);
}

#menu {
	position: absolute;
	z-index: 1;
	top: 10vh;
	right: 10px;
	width: 120px;
	font-family: 'Open Sans', sans-serif;

	button {
		width: 100%;
		margin: 5px;
	}
}