.news {
	.news-image {
		width: 25%;
		height: auto;
		object-fit: cover;

		@media only screen and (max-width: 800px) {
			width: 100%;
		}
	}
	.news-content {
		width: 75%;
		display: inline-block;
		padding: 15px;

		@media only screen and (max-width: 800px) {
			width: 100%;
		}
	}
}